body{
	font-family: 'Lato', sans-serif;
}
img{
	max-width: 100%;
}
.quitar-float{
	float: none;
}
.espacio-arriba{
	margin-top: 8%;
}
.fuente_pacifico{
	font-family: 'Pacifico', cursive;
}
.fondo_gris{
	background-color: #eee;
}
.padding_largo{
	padding: 5px 10px;
}
.letra_grande{
	font-size: 5em;
}
.inline-block{
	float: none;
	display: inline-block;
	margin-right: -4px;
}
.verde{
	color: #11745C;
}
.no_lista{
	margin: 0px;
	padding: 0px;
}
.no_lista li{
	list-style-type: none;
}
.espacio_derecha{
	margin-right: 1em;
}
a,.azul{
	color: #00B3D4;
}
