@font-face { font-family: "Coolvetica"; src: url('main.ttf'); }

body{
	font-family: 'Coolvetica';
	font-size: 10em;
}
img{
	max-width: 100%;
}
.quitar-float{
	float: none;
}
.espacio-arriba{
	margin-top: 8%;
}
.fuente_pacifico{
	font-family: 'Pacifico', cursive;
}
.verde_cuadro {
  margin: 0 auto;
  min-height: 1px;
  width: 80%;
  padding: 3px;
  font-weight: bold;
  margin-bottom: 10px;
  background-color: #00A635;
  border: 2px solid #008412;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.error_cuadro {
  margin: 0 auto;
  min-height: 1px;
  width: 80%;
  padding: 3px;
  font-weight: bold;
  margin-bottom: 10px;
  background-color: #D00000;
  border: 2px solid #5F0000;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.fin_circulo {
  margin: 0 auto;
  min-height: 1px;
  width: 80%;
  font-weight: bold;
  background-color: #D00000;
  border-radius: 50%;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.fondo_gris{
	background-color: #eee;
}
.padding_largo{
	padding: 5px 10px;
}
.letra_grande{
	font-size: 10em;
}
.inline-block{
	float: none;
	display: inline-block;
	margin-right: -4px;
}
.verde{
	color: #11745C;
}
.no_lista{
	margin: 0px;
	padding: 0px;
}
.no_lista li{
	list-style-type: none;
}
.espacio_derecha{
	margin-right: 1em;
}
a,.azul{
	color: #00B3D4;
}
